@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

.container{
    font-family: 'Karla', sans-serif;
    width:100%;
    padding:0 10%;
    min-height:100vh;
    position:relative;
    background-color: rgb(53, 51, 51);
    overflow: hidden;
}

.row{
    width:100%;
    min-height:100vh;
}
.row-para{
    width:100%;
    min-height:100vh;
}

.container h1{
    font-size:44px;
    line-height:66px;
}
.container h2{
    font-size:32px;
    line-height:44px;
}
.container h3{
    font-size:22px;
    line-height:34px;
}
.container h4{
    font-size:12px;
    line-height:22px;
}
.container p{
    font-size:14px;
    line-height:22px;
}

.text-container{
    width:55%;
}

.image{
    width:35%;
    margin-top:50px;
}

@media all and (min-width:1000px){
    .row{
        display:flex;
        justify-content:space-between;
        align-items:center;
    }
    .row-para{
        display:flex;
        justify-content:space-between;
        align-items:center;
    }
}

@media all and (min-width:764px) and (max-width:999px){

    .row{
        display:flex;
        justify-content:space-between;
        align-items:center;
        flex-direction:column ;
    }

    .row-para{
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction: column;
    }

    .image{
        width:50%;
    }

    .text-container{
        width:100%;
    }
}

@media all and (min-width: 378px) and (max-width:764px){
    .row{
        display:flex;
        justify-content:space-between;
        align-items:center;
        flex-direction:column ;
    }

    .image{
        width:80%;
    }

    .row-para{
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction: column;
    }

    .text-container{
        width:100%;
    }

    .container{
        padding:0 5%;
    }
}